<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        {{> header}}
        <p><b>{{screamIt message}}</b>  </p>
        
        {{> footer}}
    </body>
</html>